{% extends 'base.html' %}
{% block content %}
    <div class="row">
        {% for question in latest %}
            <div class="col-md-12" style="margin: 20px 0">
                <h2><a href="{{ question.get_url }}" style="text-decoration: none;">{{ question.description }}</a></h2>
                <hr style="margin: 5px 0">
                <span style="font-size: 20px">by <a href="#">{{ question.author }}</a> {{ question.pub_date }}</span>
            </div>
        {% endfor %}
    </div>

{% endblock %}

