{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="mt-12">{{ question.description }}</h1>
            <p class="lead">
                by
                <a href="#">{{ question.author }}</a> {{ question.pub_date }}

            </p>
        </div>
    </div>



            <span style="font-size: 20px">{{ question.text }}</span>
            <hr>
        <div style="margin: 20px 0;">
            <h2>{{ count_answer }} answers</h2>
            {% for answer in answers %}
                <div class="row">
                    <div class="col-md-2">{{ answer.author }}</div>
                    <div class="col-md-10" style="max-width: 100px">{{ answer.text }}</div>
                </div>
            {% endfor %}
        </div>

            <h4>Your answer</h4>
            <form method="post">{% csrf_token %}
                <input type="hidden" value="{{ question.id }}" name="id">
                <textarea class="form-control" name="text" rows="3" style="width: 75%; margin: 15px 0"></textarea>
                <button type="submit" class="btn btn-primary btn-lg">Post</button>
            </form>
</div>

{% endblock %}